## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 369
print (a)

369

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type (8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type (a)

int

4) Crear una variable que contenga tu nombre

In [ ]:
Nombre = 'Alejandro Uribe'

5) Crear una variable que contenga un número complejo

In [6]:
numero_complejo = 6 + 9j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type (numero_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
Variable_x = 'True'
Variable_y = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [12]:
print ('La variable x es tipo', type(Variable_x),'La varible y es tipo', type(Variable_y))

La variable x es tipo <class 'str'> La varible y es tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [2]:
x = 7+5.2

11) Realizar una operación de suma de números complejos

In [3]:
x = 6 + 3j
y = 4 + 6j
print (x+y)

(10+9j)

12) Realizar una operación de suma de un número real y otro complejo

In [4]:
z = x + 3.6
print (z)

(9.6+3j)

13) Realizar una operación de multiplicación

In [5]:
print (5*4)

20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [6]:
print (2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [7]:
c = (27/4)
print (c)

6.75

16) De la división anterior solamente mostrar la parte entera

In [9]:
print (27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [10]:
print (27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [11]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [15]:
x1 = 'Nombre '
x2 = 'Apellido'
print (x1+x2)

Nombre Apellido

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [17]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [18]:
int ("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [22]:
a = float('3,8') # 3,8 _no funciona porque es tipo string por la , si fuera un punto funcionaria

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [24]:
k = 3
k -= 5
print (k)

-2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [25]:
1 << 2 # El numero 1 en binario es 0001 al trasladar el 1 dos posiciones queda 0100 que equivale al numero 4 en binario.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [26]:
2 + '2' # 2 es tipo entero y '2' es tipo string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [29]:
coro = ("volvere ")
repetir = 3
print (coro * repetir)

volvere volvere volvere